.navbar{
    background: linear-gradient(to right, #005497, #0069BD) ;
    height: 125px;
    

}
.nav-item:hover{
    background-color: #5a6fe5;
}
#navStuff{
    padding: 10px;
}
.navbar-brand{
    padding: 45px;
}
.header{
    font-family: Abhaya Libre;
}
#aboutUsParagraph{
    font-family: Abhaya Libre;
}