.navbar{
    background: linear-gradient(to right, #005497, #0069BD) ;
    height: 125px;
    

}
#navStuff{
    padding: 10px;
}
.navbar-brand{
    padding: 45px;
}
.header{
    font-family: Abhaya Libre;
}
#aboutUsParagraph{
    font-family: Abhaya Libre;
}