.navbar{
    background: linear-gradient(to right, #005497, #0069BD) ;
    height: 125px;
}
#navStuff{
    padding: 10px;
}
.navbar-brand{
    padding: 45px;
}
.header{
    font-family: Roboto;
}
#aboutUsParagraph{
    font-family: Roboto;
}
.card-elem-gray{
    color: gray;
    text-decoration: none;
    margin-right: 40px;
    font-size: medium;
}
.card{
    margin-top: 20px;
}

