.navbar{
    background: linear-gradient(to right, #005497, #0069BD) ;
    height: 125px;
    

}
#navStuff{
    padding: 10px;
}
.navbar-brand{
    padding: 45px;
}
.header{
    font-family: Roboto;
}
#aboutUsSynopsis{
    font-family: Roboto;
}
.nav-item:hover{
    background-color: #5a6fe5;
}
/* ... (your existing styles) ... */

.logo-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.access-methods {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.method {
    text-align: center; /* Center the text below the image */
}

.method-icon img {
    display: block; /* Make the image a block element to put the text below */
    margin: 0 auto; /* Center the image */
}
#fab{
    height: 80px;
    width: 150px;
    font-size: larger;
    margin: auto;
    margin-bottom: 20px;
}
#family{
    height: 320px;
    width: 350px;
    font-size: larger;
}
#helping{
    height: 300px;
    width: 350px;
    font-size: larger;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color:  #0069BD;
    color: #fff;
    
  }
  
  .card-body {
    padding: 10px;
    color: #fff;
    
  }
  
  .card-elem-gray {
    color: #fff;
  }
  #bigLogo{
    max-height: 135px;
    max-width: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.card a:hover{
    color:darkgray;
}